.ClientsListAndEdit_wrapper{
    max-width: 2560px;
    .ClientsListAndEdit_cont_wrapper{
        display: flex;
        background-color: #EFEDEA;
        @media only screen and (max-width: 1000px){
            flex-direction: column;
        }
        .ClientsListAndEdit_maincontent_wrapper{
            width: 100%;
            padding: 10px 30px 10px 30px;
            .ClientsListAndEdit_top_content{
                position: relative;
                display: flex;
                background-color: #fff;
                flex-direction: column;
                width: 100%;
                height: 100%;
                border: 1px solid #fff;
                border-radius: 5px;
                .ClientsListAndEdit_top_body_cont{
                    background-color: #fff;
                    height: 2rem;
                }
                button.ClientsListAndEdit_mode_switch{
                    position: absolute;
                    right: 40px;
                    top: 45px;
                    border: 1px solid;
                    padding: 3px 21px;
                    border-radius: 5px;
                    font-weight: 500;
                    background-color: #f3f3f38b;
                }
                .ClientsListAndEdit_mode_switch_datalist{
                    padding: 1rem;
                }
                .ClientsListAndEdit_edit_submit_btn_cont{
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    bottom: 2%;
                    right:  2.5%;
                    button.ClientsListAndEdit_edit_submit_btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1%;
                        padding: 5px 20px 5px 20px;
                        border-radius: 7px;
                        margin-top: 6px;
                        background: #66d1ff;
                    }
                }   
                .ClientsListAndEdit_mid_body_cont{
                    height: 100%;
                    .ListButtons_btn{
                    }
                }
                .ClientsListAndEdit_table_wrapper{
                    width: 100%;
                    height: 60vh;
                    overflow-y: auto; 
                    overflow-x: hidden;
                    scrollbar-width: thin;
                    scrollbar-color: #888 #e0e0e0;
                    padding: 0 40px 0 40px;
                    @media only screen and (min-width: 1920px){
                        height: 60vh;
                    }
                    &::-webkit-scrollbar {
                        width: 8px;
                    }
                    &::-webkit-scrollbar-track {
                        background: #e0e0e0;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #888;
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background-color: #555;
                    }
                    &:not(:hover) {
                        &::-webkit-scrollbar {
                            width: 0;
                        }
                        scrollbar-width: none; 
                    }
                    .ClientsListAndEdit_table_cont{
                        table{
                            width: 100%;
                            .ClientsListAndEdit_table_title{
                                position: sticky;
                                top: 0;
                                z-index: 1;
                                text-align: center;
                                background-color: #808080;
                                border: 1px solid #808080;
                                .ClientsListAndEdit_table_title_content_vertical{
                                    color: #fff;
                                    border: none;
                                    font-size: 14px;
                                }
                            }
                            .ClientsListAndEdit_table_body{
                                .ClientsListAndEdit_table_body_content_horizontal{
                                    border: none;
                                    &:nth-child(odd){
                                        background-color: #f9f9f9;
                                    }
                                    &:nth-child(even){
                                        background-color: #e0e0e0;
                                    }
                                    .ClientsListAndEdit_table_body_content_vertical{
                                        border: 1px solid  #d0cdcd;
                                        text-align: center;
                                        .delete-icon{
                                            color: red;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .ClientsListAndEdit_table_wrapper.editMode{
                    height: 55vh;
                }
                .ClientsListAndEdit_is_editing_wrapper{
                    .ClientsListAndEdit_is_editing_cont{
                    }
                }
            }
        }
    }
}