.Crud_alert-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* darken the overlay */
  z-index: 50;

  .Crud_alert-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow:scroll;
    max-height: 75%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    text-align: center;

    .scroll-container{
      overflow:scroll;
      padding:5px;
      border-radius: 5px;
      background-color: whitesmoke;
      margin-bottom: 40px;
      max-height: 75%;
    
      .crud_alert_validation_error_list_container{
        display: flex;
        justify-content: center;
        padding:1%;
        margin-bottom: 2%;
        border-radius: 5px;
        background-color: #fe9c9c;
  
        .crud-individual-message-container {
          width: 90%;      
          .Crud_alert-modal-message {
            text-align: left;
          }
        }
      }
      .crud_alert_backend_validation_error_list_container{
        display: flex;
        justify-content: center;
        padding:1%;
        margin-bottom: 2%;
        border-radius: 5px;
        background-color: #fedd9c;
      }
    }
    
    .button-container{
      display: flex;
      justify-content: center;
      align-items: center;
      .Crud_close-button {
        width: fit-content;
        background-color: #66d1ff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 100px;
        cursor: pointer;
        border: none;
        font-size: 16px;
        &:hover {
          background-color: #2779bd;
        }
      }
    }
  }
}

