.RegistrationButtons_btn_cont {
    margin-left: 40px;
    display: flex;
    gap: 2%;
    .body-btn {
      margin-top: 15px;
      border: 1px solid #808080;
      width: 10rem;
      height: 30px;
      border-radius: 5px !important;
      background-color: #fff;
      color: #000;
    }
    .body-btn:hover {
      background-color: #808080;
      color: #fff;
    }
    .body-btn-active {
      background-color: #808080;
      color: #fff;
    }
  }
  
  .RegistrationButtons_title_container {
    display: flex;
    width: 100%;
    // padding: 49px 70px 50px 50px;
    padding: 49px 70px 50px 40px;
    gap: 40px;
    align-items: center;
    .RegistrationButtons_title_table_cont {
      .RegistrationButtons_title {
        letter-spacing: 2px;
        width: 180px;
        font-weight: bold;
        color: #000;
         margin-left: 10px;
        @media only screen and (min-width: 1920px) {
          margin-left: 10px; /* Optionally adjust for larger screens */
        }
      }
    }
    .RegistrationButtons_title_btn_cont{
      .RegistrationButtons_btn{
          border: 1px solid #808080;
          width: 12rem;
          height: 35px;
          border-radius: 5px !important;
          background-color: #808080;
          color: #fff;
          // padding: 10px 10px;

      }
    }
  }