.sidebar{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    .sidebar-nav{
        margin-top: 50px;
        ul{
            list-style-type: none;
            padding: 0;
            li{
                margin-bottom: 20px;
                span{
                    color: white;
                    margin-right: 10px;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                    font-size: 16px;
                }
            }
            .sub_menu{
                margin-left: 20px;
            }
        }
    }
}