
                .mode-switch-container {
                    position: absolute;
                    display: flex;
                    gap: 20px;
                    right: 40px;
                    top: 45px;
                    border: 1px solid #EFEDEA;
                    padding: 3px 21px;
                    border-radius: 5px;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.153);
                    font-weight: 500;
                    background-color: #f3f3f38b;
                    @media only screen and (min-width: 1024px) and (max-width: 1280px) {
                        /* For small laptops */
                        top: 30px;
                    }
                }
                  
                  .slider-label{
                    display: inline-block;
                  }
                 .slider-mode-switch {
                    // border: 1px solid;
                    // padding: 3px 21px;
                    border-radius: 5px;
                    font-weight: 500;
                    background-color: #f3f3f3;
                    width: fit-content;
                    display: flex;
                    flex-direction: row;
                  }
                  .slider-switch{
                    margin-top: 2px;
                    position: relative;
                    display: inline-block;
                    width: 40px;
                    height: 20px;
                    margin-left: 2px;
                    input{
                      opacity: 0;
                      width: 0;
                      height: 0;
    
                      &:checked + .slider {
                        background-color: #2196F3;
                      }
    
                      &:focus + .slider {
                        box-shadow: 0 0 1px #2196F3;
                      }
    
                      &:checked + .slider:before {
                        transform: translateX(20px);
                      }
                    }
                    .slider{
                      position: absolute;
                      cursor: pointer;
                      height: 21px;
                      top: 0;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      background-color: #ccc;
                      border-radius: 10px;
                      transition: background-color 0.4s;
                      &:before {
                        position: absolute;
                        content: "";
                        height: 16px;
                        width: 16px;
                        left: 2px;
                        bottom: 2px;
                        background-color: #fff;
                        border-radius: 50%;
                        transition: transform 0.4s;
                      }
                    }
                  }