.table-planning-container {
    padding: 10px;
    width: 180vh;
    height: 85vh; // Adjust the height as needed
    overflow-y: auto; 
    overflow-x: hidden;
    scrollbar-width: none;
  
    .table-planning {
      width: 100%;
      // overflow: auto; // Enable horizontal scrolling
      table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;
        @media only screen and (min-width: 1920px){
          height: 119vh;
        }
        th, td {
          border: 1px solid #ddd;
          padding: 2px;
          text-align: right;
          font-size: 11.7px;
          &.indented-label {
            text-align: right;
            font-size: 12.6px;
            font-weight: bold;
          }
          &.no-indent {
            text-align: left;
            font-size: 12.6px;
            font-weight: bold;
          }
        }
        .input_tag{
          text-align: right;
          width: 67px;
        }
        th {
          // background-color: #f2f2f2;
          white-space: nowrap;
        }
        
        td {
          white-space: nowrap;
        }
  
        .orange-txt {
          background-color: #fce5cd;
        }
  
        .light-txt {
          background-color: #c9daf8;
        }
  
        .sky-txt {
          background-color: #00ffff;
        }
  
        .total-txt {
          background-color: #daeef3;
        }
  
        .highlight {
          background-color: #f9f9f9;
        }
      }
    }
  }
  