// custom scss for dashboard
.dashboard_wrapper{
    max-width: 2560px;
    .dashboard_content_wrapper{
        display: flex;
        background-color: #EFEDEA;
        width: 100vw; 
        height: 95vh;
        @media only screen and (max-width: 1000px){
            flex-direction: column;
        }
        .dashboard_content{
            width: 84%;
            padding: 5px;
            overflow-y: auto;
            scroll-behavior: smooth;
            scrollbar-width: thin;
            ::-webkit-scrollbar {
                width: 8px;
              }
              ::-webkit-scrollbar-track {
                // background: #e0e0e0; 
                border-radius: 10px; 
              }
              ::-webkit-scrollbar-thumb {
                // background-color: #4caf50; 
                border-radius: 10px; 
                // border: 2px solid #e0e0e0; 
              }
              ::-webkit-scrollbar-thumb:hover {
                // background-color: #66bb6a;
              }
            .dashboard_body_cont{
                display: flex;
                margin-top: 10px;
                @media only screen and (max-width: 1000px){
                    display: block;
                }
                .dashboard_card_cont{
                    width: 100%;
                    display: flex;
                    padding: 5px;
                    @media only screen and (max-width: 1000px){
                        max-width: 1000px;
                        margin: 0 auto;
                        padding: 10px;
                    }
                    @media only screen and (max-width: 451px){
                        display: block;
                    }
                    .card{
                        @media only screen and (max-width: 1000px){
                            width: auto;
                        }
                    }
                    .dashboard_left_card{
                        width: 50%;
                        @media only screen and (max-width: 451px){
                            width: 100%;
                        }
                    }
                    .dashboard_right_card{
                        width: 50%;
                        @media only screen and (max-width: 451px){
                            width: 100%;
                        }
                    }
                    .dashboard_custom-card-content{
                        margin: 10px 0px 10px 10px;
                        .dashboard_text1{
                            font-weight: 800;
                        }
                        .dashboard_numTxt{
                            font-size: 24px;
                            font-weight: bolder;
                            .dashboard_totalTxt{
                                font-size: 12px;
                            }
                        }
                        .dashboard_text2{
                            font-weight: 800;
                        }
                    }
                }
                .dashboard_graph_cont{
                    width: 100%;
                    padding: 5px;
                    @media only screen and (max-width: 1000px){
                        max-width: 1000px;
                        margin: 0 auto;
                        padding: 10px;
                    }
                    .dashboard_graph_wrap{
                        .card-custom{
                            margin-left: 0 !important;
                            margin-top: 0 !important;
                            width: 100% !important;
                            height: 25.5rem !important;
                            .custom-bar{
                                width: 90% !important;
                            
                            }
                        }
                    }
                }
            }
            .dashboard_bottom_cont{
                margin-top: 20px;
                width: 100%;
                // padding: 5px;
                .dashboard_right-content{
                    padding: 10px 10px 10px 10px;
                    .dashboard_paginate{
                        gap: 10px;
                        display: flex;
                        justify-content: flex-end;
                        margin-right: 20px;
                        .dashboard_pl-label{
                            display: inline-block;
                        }
                        .dashboard_switch{
                            margin-top: 2px;
                            position: relative;
                            display: inline-block;
                            width: 40px;
                            height: 20px;
                            margin-left: 2px;
                            input{
                                opacity: 0;
                                width: 0;
                                height: 0;
              
                                &:checked + .dashboard_slider {
                                  background-color: #2196F3;
                                }
              
                                &:focus + .dashboard_slider {
                                  box-shadow: 0 0 1px #2196F3;
                                }
              
                                &:checked + .dashboard_slider:before {
                                  transform: translateX(20px);
                                }
                            }
                            .dashboard_slider{
                                position: absolute;
                                cursor: pointer;
                                height: 21px;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background-color: #ccc;
                                border-radius: 10px;
                                transition: background-color 0.4s;
              
                                &:before {
                                  position: absolute;
                                  content: "";
                                  height: 16px;
                                  width: 16px;
                                  left: 2px;
                                  bottom: 2px;
                                  background-color: #fff;
                                  border-radius: 50%;
                                  transition: transform 0.4s;
                                }
                            }
                        }
                    }
                }
                .dashboard_tbl_cont{
                    // background-color: #fff;
                    margin-bottom: 10px;
                    .dashboard_table_content_planning{
                        .table-planning-container{
                          width: 100% !important;
                          height: 100vh !important;
                          .table-planning{
                            table{
                                background-color: #fff;
                            }
                          }
                        }
                      }
                      .hidden {
                        display: none;
                      }
                      .dashboard_table_content_props{
                        height: 82vh;
                        .planning_scrollable{
                          max-height: 79vh;
                          margin-top: 15px;
                          background-color: #fff;
                        }
                      }
                }
            }
        }
    }
}