.UsersRegistration_wrapper{
    display: flex;
    flex-direction: column;
    .RegistrationButtons_title_container{
        padding: 58.5px 70px 50px 70px !important;
    }
    .UsersRegistration_content_wrapper{
        display: flex;
        background-color: #EFEDEA;
        width: 100vw;
        height: 130vh;
        @media only screen and (max-width: 1000px){
            flex-direction: column;
        }
        .UsersRegistration_data_content{
            width: 80%;
            margin: 10px 30px 10px 30px;
            border: 1px solid #fff;
            border-radius: 5px;
            background-color: #fff;
            .UsersRegistration_top_body_cont{
                background-color: #fff;
                height: 4rem;
            }
            .UsersRegistration_mid_body_cont{
                background-color: #fff;
                // max-height: 670px;
                // overflow-y: auto;
                // overflow-x: hidden;
                // scrollbar-width: thin;
                // scrollbar-color: #888 #f1f1f1;
                .UsersRegistration_mid_form_cont{
                    margin: -20px 50px;
                    .UsersRegistration_top-form-input-div{
                        padding: 25px 0px 0px 20px;
                        .UsersRegistration_username-div{
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;
                            .username{
                                margin-bottom: 5px;
                                font-weight: 700;
                            }
                            .input-with-msg{
                                display: flex;
                                input{
                                    width: 350px;
                                    height: 40px;
                                    border: 1px solid #000;
                                    border-radius: 10px;
                                }
                                input::placeholder{
                                    padding-left: 10px;
                                    opacity: 70%;
                                }
                                .validation_txt1{
                                    display: flex;
                                    align-items: center;
                                    margin-left: 30px;
                                    font-size: 10px;
                                    width: 51%;
                                    color: #9C9C9C;
                                }
                            }
                        }
                        .UsersRegistration_bot-form-input-div{
                            margin: 10px 0px 100px 0px;
                            display: flex;
                            gap: 5%;
                            .UsersRegistration_left-form-content-div{
                                .UsersRegistration_last_name-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .last_name{
                                        margin-bottom: 5px;
                                        font-weight: 700;
                                    }
                                    input{
                                        width: 350px;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                    input::placeholder{
                                        padding-left: 10px;
                                        opacity: 70%;
                                    }
                                }
                                .UsersRegistration_password-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .password{
                                        margin-bottom: 5px;
                                        font-weight: 700;
                                    }
                                    input{
                                        width: 350px;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                    input::placeholder{
                                        padding-left: 10px;
                                        opacity: 70%;
                                    }
                                }
                                .UsersRegistration_email-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .email{
                                        margin-bottom: 5px;
                                        font-weight: 700;
                                    }
                                    input{
                                        width: 350px;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                    input::placeholder{
                                        padding-left: 10px;
                                        opacity: 70%;
                                    }
                                }
                            }
                            .UsersRegistration_right-form-content-div{
                                .UsersRegistration_first_name-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .first_name{
                                        margin-bottom: 5px;
                                        font-weight: 700;
                                    }
                                    .input-with-msg{
                                        display: flex;
                                        input{
                                            width: 350px;
                                            height: 40px;
                                            border: 1px solid #000;
                                            border-radius: 10px;
                                        }
                                        input::placeholder{
                                            padding-left: 10px;
                                            opacity: 70%;
                                        }
                                        .validation_txt2{
                                            display: flex;
                                            align-items: center;
                                            margin-left: 30px;
                                            font-size: 10px;
                                            width: 51%;
                                            color: #9C9C9C;
                                        }
                                    }
                                }
                                .UsersRegistration_confirm_password-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .confirm_password{
                                        margin-bottom: 5px;
                                        font-weight: 700;
                                    }
                                    .input-with-msg{
                                        display: flex;
                                        input{
                                            width: 350px;
                                            height: 40px;
                                            border: 1px solid #000;
                                            border-radius: 10px;
                                        }
                                        input::placeholder{
                                            padding-left: 10px;
                                            opacity: 70%;
                                        }
                                    }
                                    .validation_txt3{
                                        display: flex;
                                        align-items: center;
                                        margin-left: 30px;
                                        font-size: 10px;
                                        width: 51%;
                                        color: #9C9C9C;
                                    }
                                }
                                .UsersRegistration_confirm_email-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .confirm_email{
                                        margin-bottom: 5px;
                                        font-weight: 700;
                                    }
                                    .input-with-msg{
                                        display: flex;
                                        input{
                                            width: 350px;
                                            height: 40px;
                                            border: 1px solid #000;
                                            border-radius: 10px;
                                        }
                                        input::placeholder{
                                            padding-left: 10px;
                                            opacity: 70%;
                                        }
                                    }
                                    .validation_txt4{
                                        display: flex;
                                        align-items: center;
                                        margin-left: 30px;
                                        font-size: 10px;
                                        width: 51%;
                                        color: #9C9C9C;
                                    }
                                }
                            }
                        }
                    }
                    .UsersRegistration_form-btn-content{
                        .UsersRegistration_plus-btn{
                            padding: 20px 10px 20px 10px;
                            gap: 1rem;
                            display: flex;
                            margin-left: 90%;
                            .UsersRegistration_inc,
                            .UsersRegistration_dec{
                                background-color: #808080;
                                color: whitesmoke;
                                width: 30px;
                                height: 40px;
                                font-size: 25px;
                                border-radius: 5px;
                            }
                        }
                        .UsersRegistration_options-btn{
                            display: flex;
                            gap: 1%;
                            padding: 10px 10px 10px 10px;
                            align-items: center;
                            justify-content: center;
                            button{
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }
}