.EmployeesRegistration_wrapper{
    display: flex;
    flex-direction: column;
    .EmployeesRegistration_content_wrapper{
        display: flex;
        background-color: #EFEDEA;
        width: 100vw;
        height: 130vh;
        @media only screen and (max-width: 1000px){
            flex-direction: column;
        }
        .EmployeesRegistration_data_content{
            width: 80%;
            margin: 10px 30px 10px 30px;
            border: 1px solid #fff;
            border-radius: 5px;
            background-color: #fff;
            .EmployeesRegistration_top_body_cont{
                background-color: #fff;
                height: 4rem;
            }
            .EmployeesRegistration_mid_body_cont{
                background-color: #fff;
                // max-height: 670px;
                // overflow-y: auto;
                // overflow-x: hidden;
                // scrollbar-width: thin;
                // scrollbar-color: #888 #f1f1f1;
                .EmployeesRegistration_mid_form_cont{
                    margin: -20px 50px;
                    .EmployeesRegistration_form-content.EmployeesRegistration_ForImplementationOfPlusAndMinus{
                        padding: 50px 0px 0px 20px;
                    }
                    .EmployeesRegistration_form-content.EmployeesRegistration_ForImplementationOfHorizontalLineBelow{
                        // border-top: 4px solid rgb(183, 183, 183);
                    }
                    .EmployeesRegistration_form-content{
                        padding: 15px 0px 0px 20px;
                        .EmployeesRegistration_form-div{
                            display: flex;
                            .EmployeesRegistration_calc{
                                width: calc(100%/3);
                            }
                            .EmployeesRegistration_left-form-content-div{
                                .EmployeesRegistration_last_name-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .last_name{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                                .EmployeesRegistration_salary-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .salary{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                            }
                            .EmployeesRegistration_mid-form-content-div{
                                .EmployeesRegistration_first_name-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .first_name{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                                .EmployeesRegistration_business_division_name-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .EmployeesRegistration_business_division_name{
                                        margin-bottom: 5px;
                                    }
                                    .EmployeesRegistration_select-option{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                        option{
                                            text-align: left;
                                        }
                                    }
                                }
                            }
                            .EmployeesRegistration_right-form-content-div{
                                .EmployeesRegistration_email-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .email{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                                .EmployeesRegistration_company_name-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .EmployeesRegistration_company_name{
                                        margin-bottom: 5px;
                                    }
                                    .EmployeesRegistration_select-option{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                        option{
                                            text-align: left;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .EmployeesRegistration_form-btn-content{
                        .EmployeesRegistration_plus-btn{
                            padding: 20px 10px 20px 10px;
                            gap: 1rem;
                            display: flex;
                            margin-left: 90%;
                            .EmployeesRegistration_inc,
                            .EmployeesRegistration_dec{
                                background-color: #808080;
                                color: whitesmoke;
                                width: 30px;
                                height: 40px;
                                font-size: 25px;
                                border-radius: 5px;
                            }
                        }
                        .EmployeesRegistration_options-btn{
                            display: flex;
                            gap: 1%;
                            padding: 10px 10px 10px 10px;
                            align-items: center;
                            justify-content: center;
                            button{
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }
}