// custom scss for dashboard
.wrapper{
    max-width: 2560px;
    .header_cont{
        margin-left: 5%;
        height: 60px;
        display: flex;
        gap: 2%;
        .header_container{
            background-color: #fff;
            padding: 5px 5px 10px 5px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            
        }
        .header-btn{                        
            margin-top: 15px;
            border: 1px solid #808080;
            width: 10rem;
            height: 30px;
            border-radius: 5px !important;
            background-color: #fff;
            color: #000;
        }
        .header-btn:hover{
            background-color: #808080;
            color: #fff;
        }
        .h-btn-active{
            background-color: #808080;
            color: #fff;
        }
        .hamburger{
            display: none;
        }
        @media only screen and (max-width: 1000px) {
            .hamburger{
                display: block;
                .burger_icon{
                    display: flex;
                    justify-content: flex-end;
                    padding: 20px 10px 20px 0px;
                    svg{
                        width: 50px;
                    }
                }
            }
            .header_container{
                display: none;
            }
          }
    }
    .content_wrapper{
        display: flex;
        background-color: #EFEDEA;
        @media only screen and (max-width: 1000px){
            flex-direction: column;
        }
        .sidebar{
            flex: 0 0 205px;
            background-color: #1c302c;
            @media only screen and (max-width: 1000px){
                flex: 0 0 auto;
                width: 100%;
                display: none;
            }
        }
        .dashboard_content{
            flex: 1;
            display: flex;
            flex-direction: column;
            .body_cont{
                display: flex;
                margin-top: 10px;
                @media only screen and (max-width: 1000px){
                    display: block;
                }
                .card_cont{
                    width: 100%;
                    display: flex;
                    padding: 5px;
                    @media only screen and (max-width: 1000px){
                        max-width: 1000px;
                        margin: 0 auto;
                        padding: 10px;
                    }
                    @media only screen and (max-width: 451px){
                        display: block;
                    }
                    .card{
                        @media only screen and (max-width: 1000px){
                            width: auto;
                        }
                    }
                    .left_card{
                        width: 50%;
                        @media only screen and (max-width: 451px){
                            width: 100%;
                        }
                    }
                    .right_card{
                        width: 50%;
                        @media only screen and (max-width: 451px){
                            width: 100%;
                        }
                    }
                    .custom-card-content{
                        margin: 10px 0px 10px 10px;
                        .text1{
                            font-weight: 800;
                        }
                        .numTxt{
                            font-size: 24px;
                            font-weight: bolder;
                            .totalTxt{
                                font-size: 12px;
                            }
                        }
                        .text2{
                            font-weight: 800;
                        }
                    }
                }
                .graph_cont{
                    width: 100%;
                    padding: 5px;
                    @media only screen and (max-width: 1000px){
                        max-width: 1000px;
                        margin: 0 auto;
                        padding: 10px;
                    }
                    .graph_wrap{
                        .card-custom{
                            margin-left: 0 !important;
                            margin-top: 0 !important;
                            width: 100% !important;
                            height: 25.5rem !important;
                            .custom-bar{
                                width: 90% !important;
                            
                            }
                        }
                    }
                }
            }
            .bottom_cont{
                margin-top: 20px;
                width: 100%;
                padding: 5px;
                .right-content{
                    padding: 10px 10px 10px 10px;
                    .paginate{
                        gap: 10px;
                        display: flex;
                        justify-content: flex-end;
                        margin-right: 20px;
                        .pl-label{
                            display: inline-block;
                        }
                        .switch{
                            margin-top: 2px;
                            position: relative;
                            display: inline-block;
                            width: 40px;
                            height: 20px;
                            margin-left: 2px;
                            input{
                                opacity: 0;
                                width: 0;
                                height: 0;
              
                                &:checked + .slider {
                                  background-color: #2196F3;
                                }
              
                                &:focus + .slider {
                                  box-shadow: 0 0 1px #2196F3;
                                }
              
                                &:checked + .slider:before {
                                  transform: translateX(20px);
                                }
                            }
                            .slider{
                                position: absolute;
                                cursor: pointer;
                                height: 21px;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background-color: #ccc;
                                border-radius: 10px;
                                transition: background-color 0.4s;
              
                                &:before {
                                  position: absolute;
                                  content: "";
                                  height: 16px;
                                  width: 16px;
                                  left: 2px;
                                  bottom: 2px;
                                  background-color: #fff;
                                  border-radius: 50%;
                                  transition: transform 0.4s;
                                }
                            }
                        }
                    }
                }
                .planning_tbl_cont{
                    background-color: #fff;
                    .table_content_planning{
                        .table-planning-container{
                        }
                    }
                    .hidden {
                        display: none;
                      }
                    .table_content_props{
                        height: 82vh;

                        .planning_scrollable {
                          max-height: 80vh;
                        }
                    }
                    table {
                        border-collapse: collapse;
                        width: 100%;
            
                        thead {
                          th {
                            border: 1px solid #ccc;
                            padding: 8px;
                            text-align: left;
            
                            &:first-child {
                              border-left: none;
                            }
            
                            &:last-child {
                              border-right: none;
                            }
                          }
                        }
            
                        tbody {
                          tr {
                            border-bottom: 1px solid #ccc;
            
                            // &:nth-child(odd) {
                            //   background-color: #f9f9f9;
                            // }
            
                            &:hover {
                              background-color: #f1f1f1;
                            }
            
                            td {
                              border-left: 1px solid #ccc;
                              padding: 8px;
            
                              &:first-child {
                                border-left: none;
                              }
                            }
                          }
                        }
                      }
                }
            }
        }
    }
}