.project_wrapper{
    display: flex;
    flex-direction: column;
    .header_cont{
        // margin: 0px 0px 0px 0px;
        margin-left: 5%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        .header_container{
            background-color: #fff;
            padding: 5px 5px 10px 5px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
        .header-buttons{
            display: flex;
            gap: 30px;
            .header-btn{                        
                margin-top: 15px;
                border: 1px solid #808080;
                width: 10rem;
                height: 30px;
                border-radius: 5px !important;
                background-color: #fff;
                color: #000;
            }
            .header-btn:hover{
                background-color: #808080;
                color: #fff;
            }
            .h-btn-active{
                background-color: #808080;
                color: #fff;
            }
        }
        .language-toggle{
            gap: 10px;
            display: flex;
            padding-right: 50px;
            .pl-label{
                display: inline-block;
            }
            .switch{
                margin-top: 2px;
                position: relative;
                display: inline-block;
                width: 40px;
                height: 20px;
                margin-left: 2px;
                input{
                    opacity: 0;
                    width: 0;
                    height: 0;
  
                    &:checked + .slider {
                      background-color: #2196F3;
                    }
  
                    &:focus + .slider {
                      box-shadow: 0 0 1px #2196F3;
                    }
  
                    &:checked + .slider:before {
                      transform: translateX(20px);
                    }
                }
                .slider{
                    position: absolute;
                    cursor: pointer;
                    height: 21px;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    border-radius: 10px;
                    transition: background-color 0.4s;
  
                    &:before {
                      position: absolute;
                      content: "";
                      height: 16px;
                      width: 16px;
                      left: 2px;
                      bottom: 2px;
                      background-color: #fff;
                      border-radius: 50%;
                      transition: transform 0.4s;
                    }
                }
            }
        }
    }
    .proj_content_wrapper{
        display: flex;
        background-color: #EFEDEA;
        @media only screen and (max-width: 1000px){
            flex-direction: column;
        }
        .sidebar{
            flex: 0 0 205px;
            background-color: #1c302c;
            @media only screen and (max-width: 1000px){
                flex: 0 0 auto;
                width: 100%;
                display: none;
            }
        }
        .project_data_content{
            width: 100%;
            height: 100vh;
            margin: 10px 30px 10px 30px;
            border: 1px solid #fff;
            border-radius: 5px;
            background-color: #fff;
            .top_body_cont{
                background-color: #fff;
                height: 4rem;
                .top_btn_cont{
                    margin-left: 5%;
                    display: flex;
                    gap: 2%;
                    .header-btn{                        
                        margin-top: 15px;
                        border: 1px solid #808080;
                        width: 10rem;
                        height: 30px;
                        border-radius: 5px !important;
                        background-color: #fff;
                        color: #000;
                    }
                    .header-btn:hover{
                        background-color: #808080;
                        color: #fff;
                    }
                    .h-btn-active{
                        background-color: #808080;
                        color: #fff;
                    }
                }
            }
            .mid_body_cont{
                background-color: #fff;
                max-height: 670px;
                overflow-y: auto;
                overflow-x: hidden;
                scrollbar-width: thin;
                scrollbar-color: #888 #f1f1f1;
                .mid_btn_cont{
                    margin-left: 5%;
                    display: flex;
                    gap: 2%;
                    .body-btn{
                        margin-top: 15px;
                        border: 1px solid #808080;
                        width: 10rem;
                        height: 30px;
                        border-radius: 5px !important;
                        background-color: #fff;
                        color: #000;
                    }
                    .body-btn:hover{
                        background-color: #808080;
                        color: #fff;
                    }
                    .body-btn-active{
                        background-color: #808080;
                        color: #fff;
                    }
                }
                .mid_form_cont{
                    margin: 10px 50px;
                    .form-title{
                        padding: 10px 0px 9px 23px;
                        font-weight: bold;
                        color: #000;
                    }
                    .form-content.form-content-special{
                        padding: 50px 0px 0px 20px;
                    }
                    .form-content.form-line {
                        border-top: 4px solid rgb(183, 183, 183);
                    }
                    .form-content{
                        padding: 15px 0px 0px 20px;
                        .form-content-div{
                            display: flex;
                            .calc{
                                width: calc(100%/3);
                            }
                            .left-form-div{
                                .client-name-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .client_name{
                                        margin-bottom: 5px;
                                    }
                                    .select-option{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                        option{
                                            text-align: left;
                                        }
                                    }
                                }
                                .business_division_name-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .business_division_name{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                                .project_name-div{ 
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .project_name{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                            }
                            .middle-form-div{
                                .net-sales-div{ 
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .net_sales{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                    input::-webkit-outer-spin-button,
                                    input::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                    }
                                }
                                .end_date-div{ 
                                    display: flex;
                                    flex-direction: column;
                                    .end_yyyymm{
                                        margin-bottom: 5px;
                                    }
                                    .select-option{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                            }
                            .right-form-div{
                                .non-operating-income-div{ 
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .non_operating_income{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                    input::-webkit-outer-spin-button,
                                    input::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                    }
                                }
                                .operating-income-div{ 
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .operating_income{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                    input::-webkit-outer-spin-button,
                                    input::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                    }
                                }
                            }
                    }
                        .plus-btn{
                            padding: 20px 10px 20px 10px;
                            gap: 1rem;
                            display: flex;
                            margin-left: 90%;
                            .inc,.dec{
                                background-color: #808080;
                                color: whitesmoke;
                                width: 30px;
                                height: 40px;
                                font-size: 25px;
                                border-radius: 5px;
                            }
                        }
                        .options-btn{
                            display: flex;
                            gap: 1%;
                            padding: 10px 10px 10px 10px;
                            align-items: center;
                            justify-content: center;
                            button{
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }
}