.costOfSalesRegistration_wrapper{
    display: flex;
    flex-direction: column;
    .RegistrationButtons_title_container{
        padding: 54.5px 70px 50px 70px !important;
    }
    .costOfSalesRegistration_content_wrapper{
        display: flex;
        background-color: #EFEDEA;
        width: 100vw;
        height: 130vh;
        @media only screen and (max-width: 1000px){
            flex-direction: column;
        }
        .costOfSalesRegistration_data_content{
            width: 80%;
            margin: 10px 30px 10px 30px;
            border: 1px solid #fff;
            border-radius: 5px;
            background-color: #fff;
            .costOfSalesRegistration_top_body_cont{
                background-color: #fff;
                height: 4rem;
            }
            .costOfSalesRegistration_mid_body_cont{
                background-color: #fff;
                max-height: 670px;
                overflow-y: auto; 
                overflow-x: hidden;
                scrollbar-width: thin; 
                scrollbar-color: transparent transparent;
                @media only screen and (min-width: 1875px){
                    height: 55vh;
                }
                &:hover {
                    scrollbar-color: #888 #EFEDEA; 
                }
                &::-webkit-scrollbar {
                    width: 8px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent; 
                }
                &::-webkit-scrollbar-thumb {
                    background-color: transparent; 
                    border-radius: 10px;
                }
                &:hover::-webkit-scrollbar-thumb {
                    background-color: #888;
                }
                &:hover::-webkit-scrollbar-thumb:hover {
                    background-color: #555; 
                }
                .costOfSalesRegistration_mid_form_cont{
                    margin: -20px 50px;
                    .costOfSalesRegistration_form-content.costOfSalesRegistration_form-content-special{
                        padding: 50px 0px 0px 20px;
                        }
                        .costOfSalesRegistration_form-content.costOfSalesRegistration_form-line{
                            border-top: 4px solid rgb(183, 183, 183);
                            opacity: 30%;
                        }
                        .costOfSalesRegistration_form-content{
                            padding: 15px 0px 0px 20px;
                            .costOfSalesRegistration_form-content-div{
                                display: flex;
                                .costOfSalesRegistration_calc{
                                    width: calc(100%/3);
                                }
                                .costOfSalesRegistration_left-form-div{
                                    .costOfSalesRegistration_month-div{
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 10px;
                                        .costOfSalesRegistration_month{
                                            margin-bottom: 5px;
                                        }
                                        .costOfSalesRegistration_select-option{
                                            width: 80%;
                                            height: 40px;
                                            border: 1px solid #000;
                                            border-radius: 10px;
                                            option{
                                                text-align: left;
                                            }
                                        }
                                    }
                                    .costOfSalesRegistration_outsourcing_expenses-div{
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 10px;
                                        .costOfSalesRegistration_outsourcing_expenses{
                                            margin-bottom: 5px;
                                        }
                                        input{
                                            width: 80%;
                                            height: 40px;
                                            border: 1px solid #000;
                                            border-radius: 10px;
                                        }
                                    }
                                    .costOfSalesRegistration_communication_expenses-div{
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 10px;
                                        .costOfSalesRegistration_communication_expenses{
                                            margin-bottom: 5px;
                                        }
                                        input{
                                            width: 80%;
                                            height: 40px;
                                            border: 1px solid #000;
                                            border-radius: 10px;
                                        }
                                    }
                                }
                                .costOfSalesRegistration_middle-form-div{
                                    .costOfSalesRegistration_cost_of_sales-div{
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 10px;
                                        .costOfSalesRegistration_cost_of_sales{
                                            margin-bottom: 5px;
                                        }
                                        input{
                                            width: 80%;
                                            height: 40px;
                                            border: 1px solid #000;
                                            border-radius: 10px;
                                        }
                                    }
                                    .costOfSalesRegistration_product_purchases-div{
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 10px;
                                        .costOfSalesRegistration_product_purchases{
                                            margin-bottom: 5px;
                                        }
                                        input{
                                            width: 80%;
                                            height: 40px;
                                            border: 1px solid #000;
                                            border-radius: 10px;
                                        }
                                    }
                                    .costOfSalesRegistration_work_in_progress_expenses-div{
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 10px;
                                        .costOfSalesRegistration_work_in_progress_expenses{
                                            margin-bottom: 5px;
                                        }
                                        input{
                                            width: 80%;
                                            height: 40px;
                                            border: 1px solid #000;
                                            border-radius: 10px;
                                        }
                                    }
                                }
                                .costOfSalesRegistration_right-form-div{
                                    .costOfSalesRegistration_purchases-div{
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 10px;
                                        .costOfSalesRegistration_purchases{
                                            margin-bottom: 5px;
                                        }
                                        input{
                                            width: 80%;
                                            height: 40px;
                                            border: 1px solid #000;
                                            border-radius: 10px;
                                        }
                                    }
                                    .costOfSalesRegistration_dispatch_labor_expenses-div{
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 10px;
                                        .costOfSalesRegistration_dispatch_labor_expenses{
                                            margin-bottom: 5px;
                                        }
                                        input{
                                            width: 80%;
                                            height: 40px;
                                            border: 1px solid #000;
                                            border-radius: 10px;
                                        }
                                    }
                                    .costOfSalesRegistration_amortization_expenses-div{
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 10px;
                                        .costOfSalesRegistration_amortization_expenses{
                                            margin-bottom: 5px;
                                        }
                                        input{
                                            width: 80%;
                                            height: 40px;
                                            border: 1px solid #000;
                                            border-radius: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        .costOfSalesRegistration_form-content{
                            .costOfSalesRegistration_plus-btn{
                                padding: 20px 10px 20px 10px;
                                gap: 1rem;
                                display: flex;
                                margin-left: 90%;
                                .costOfSalesRegistration_inc,
                                .costOfSalesRegistration_dec{
                                    background-color: #808080;
                                    color: whitesmoke;
                                    width: 30px;
                                    height: 40px;
                                    font-size: 25px;
                                    border-radius: 5px;
                                }
                            }
                            .costOfSalesRegistration_options-btn{
                                display: flex;
                                gap: 1%;
                                padding: 10px 10px 10px 10px;
                                align-items: center;
                                justify-content: center;
                                button{
                                    width: 10%;
                                }
                            }
                        }
                }
            }
        }
    }
}