.employeeExpensesList_wrapper{
    max-width: 2560px;
    .employeeExpensesList_cont_wrapper{
        display: flex;
        background-color: #EFEDEA;
        // width: 100vw; 
        @media only screen and (max-width: 1000px){
            flex-direction: column;
        }
        .employeeExpensesList_wrapper_div{
                    width: 84%;
                    // height: 100vh;
                    padding: 10px 30px 10px 30px;
                    .employeeExpensesList_top_content{
                        position: relative;
                        display: flex;
                        background-color: #fff;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #fff;
                        border-radius: 5px;
                        .employeeExpensesList_top_body_cont{
                            background-color: #fff;
                            height: 4rem;
                        }
                        button.employeeExpensesList_mode_switch{
                            border: 1px solid;
                            padding: 3px 21px;
                            border-radius: 5px;
                            font-weight: 500;
                            background-color: #f3f3f3;
                        }
                        .employeeExpensesList_mode_switch_datalist{
                            float: right;
                            padding: 40px 70px;
                        }
                        .employeeExpensesList_edit_submit_btn_cont{
                            display: flex;
                            justify-content: center;
                            position: absolute;
                            bottom: 2%;
                            right:  2.5%;
                        }
                        button.employeeExpensesList_edit_submit_btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 1%;
                            padding: 5px 20px 5px 20px;
                            border-radius: 7px;
                            margin-top: 6px;
                            background: #66d1ff;
                        }
                        .employeeExpensesList_mid_body_cont{
                            height: 70vh;
                            .ListButtons_btn{
                                margin-left: -1.5px;
                            }
                            .employeeExpensesList_table_wrapper{
                                width: 100%;
                                height: 80%;
                                overflow-y: auto; 
                                overflow-x: hidden;
                                scrollbar-width: thin;
                                scrollbar-color: #888 #e0e0e0;
                                @media only screen and (min-width: 1920px){
                                    height: 60vh;
                                }
                                &::-webkit-scrollbar {
                                    width: 8px;
                                }
                                &::-webkit-scrollbar-track {
                                    background: #e0e0e0;
                                }
                                &::-webkit-scrollbar-thumb {
                                    background-color: #888;
                                    border-radius: 10px;
                                }
                                &::-webkit-scrollbar-thumb:hover {
                                    background-color: #555;
                                }
                                &:not(:hover) {
                                    &::-webkit-scrollbar {
                                        width: 0;
                                    }
                                    scrollbar-width: none; 
                                }
                                .employeeExpensesList_table_cont.editScrollable {
                                    // padding: 0px 20px 0px 40px;
                                    width: 97.5%;
                                    overflow-x: auto;
                                }
                                .employeeExpensesList_table_cont{
                                    padding: 0px 0px 0px 40px;                                    
                                    .table{
                                        width: 97%;
                                        .employeeExpensesList_table_title{
                                            position: sticky;
                                            top: 0;
                                            z-index: 1;
                                            text-align: center;
                                            background-color: #808080;
                                            .employeeExpensesList_table_title_content_vertical{
                                                color: #fff;
                                                border: none;
                                                font-size: 14px;
                                            }
                                        }
                                        .employeeExpensesList_table_body{
                                            .employeeExpensesList_year{
                                                border: none;
                                                .horizontal-line {
                                                    width: 100%; 
                                                    background-color: #808080; 
                                                    opacity: 30%;
                                                    height: 2px; 
                                                    border: none;
                                                    margin-top: 8px; 
                                                    margin-bottom: 8px;
                                                    margin-left: 55px;
                                                }
                                            }
                                            .employeeExpensesList_user_name{
                                                &:nth-child(odd){
                                                    background-color: #f9f9f9;
                                                }
                                                &:nth-child(even){
                                                    background-color: #e0e0e0;
                                                }
                                            }
                                            .employeeExpensesList_project_div{
                                                .project-even {
                                                    background-color: #f0f0f0; 
                                                  }
                                                  
                                                  .project-odd {
                                                    background-color: #ffffff; 
                                                  }
                                                .employeeExpensesList_txt0{
                                                    margin-bottom: 5px;
                                                    padding: 5px;
                                                    font-weight: bold;
                                                    // text-align: center;
                                                    font-size: 14px;
                                                    // background-color: #C6D4E7;
                                                    // color: #000;
                                                    // border-radius: 5px;
                                                }
                                                .employeeExpensesList_txt1_txt2_flex{
                                                    margin-top: 10px;
                                                    margin-bottom: 10px;
                                                    padding: 5px;
                                                    display: flex;
                                                    flex-direction: column;
                                                    .employeeExpensesList_txt1{
                                                        font-size: 14px;
                                                        // text-align: center;
                                                        // width: 100% !important;
                                                        @media only screen and (max-width: 1875px){
                                                            font-size: 14px;
                                                        }
                                                    }
                                                    .employeeExpensesList_txt2{
                                                        // margin-left: 5px;
                                                        font-size: 14px;
                                                        padding: 5px 0px;
                                                        // text-align: center;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .employeeExpensesList_pagination_wrapper{
                                .employeeExpensesList_pagination_cont{
                                    display: flex;
                                    justify-content: flex-end;
                                    padding: 20px 20px 0px 20px;
                                    margin: 0px !important;
                                }
                            }
                        }
                    }
                }
    }
}