.employeeExpensesList_wrapper{
    max-width: 2560px;
    .employeeExpensesList_cont_wrapper{
        display: flex;
        background-color: #EFEDEA;
        
        @media only screen and (max-width: 1000px){
            flex-direction: column;
        }
        .employeeExpensesList_wrapper_div{
                    width: 84%; // i do not know wjy but it breaks if i set to 100%
                    padding: 10px 30px 10px 30px;
                    .employeeExpensesList_top_content{
                        
                        position: relative;
                        display: flex;
                        background-color: #fff;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #fff;
                        border-radius: 5px;
                        .employeeExpensesList_top_body_cont{
                            background-color: #fff;
                            height: 2rem;
                        }
                        button.employeeExpensesList_mode_switch{
                            position: absolute;
                            right: 40px;
                            top: 45px;
                            border: 1px solid;
                            padding: 3px 21px;
                            border-radius: 5px;
                            font-weight: 500;
                            background-color: #f3f3f3;
                        }
                        .employeeExpensesList_mode_switch_datalist{
                            padding: 1rem;
                        }
                        .employeeExpensesList_edit_submit_btn_cont{
                            display: flex;
                            justify-content: center;
                            position: absolute;
                            bottom: 2%;
                            right:  2.5%;
                        }
                        button.employeeExpensesList_edit_submit_btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 1%;
                            padding: 5px 20px 5px 20px;
                            border-radius: 7px;
                            margin-top: 6px;
                            background: #66d1ff;
                        }
                        .employeeExpensesList_mid_body_cont{
                            height: 100%;
                            .ListButtons_btn{
                            }
                            .employeeExpensesList_table_wrapper{
                                width: 100%;
                                height: 60vh;
                                overflow-y: auto; 
                                overflow-x: hidden;
                                scrollbar-width: thin;
                                scrollbar-color: #888 #e0e0e0;
                                padding: 0 40px 0 40px;
                                @media only screen and (min-width: 1920px){
                                    height: 60vh;
                                }
                                &::-webkit-scrollbar {
                                    width: 8px;
                                }
                                &::-webkit-scrollbar-track {
                                    background: #e0e0e0;
                                }
                                &::-webkit-scrollbar-thumb {
                                    background-color: #888;
                                    border-radius: 10px;
                                }
                                &::-webkit-scrollbar-thumb:hover {
                                    background-color: #555;
                                }
                                &:not(:hover) {
                                    &::-webkit-scrollbar {
                                        width: 0;
                                    }
                                    scrollbar-width: none; 
                                }
                                .employeeExpensesList_table_cont.editScrollable {
                                    overflow-x: auto;
                                    padding: 0px 0px 0px 0px;
                                }
                                .employeeExpensesList_table_cont{ 
                                    overflow-x: auto;   
                                    &::-webkit-scrollbar {
                                        width: 8px;
                                    }
                                    &::-webkit-scrollbar-track {
                                        background: #e0e0e0;
                                    }
                                    &::-webkit-scrollbar-thumb {
                                        background-color: #888;
                                        border-radius: 10px;
                                    }
                                    &::-webkit-scrollbar-thumb:hover {
                                        background-color: #555;
                                    }
                                    &:not(:hover) {
                                        &::-webkit-scrollbar {
                                            width: 0;
                                        }
                                        scrollbar-width: none; 
                                    }                          
                                    .table{
                                        width: 100%;
                                        .employeeExpensesList_table_title{
                                            position: sticky;
                                            top: 0;
                                            z-index: 1;
                                            text-align: center;
                                            background-color: #808080;
                                            border: 1px solid #808080;
                                            .employeeExpensesList_table_title_content_vertical{
                                                color: #fff;
                                                border: none;
                                                font-size: 14px;
                                            }
                                        }
                                        .employeeExpensesList_table_body{
                                            .employeeExpensesList_td{
                                                // background-color: #66d1ff;
                                                // width: 7%;
                                                // min-width: fit-content;
                                            }
                                            .employeeExpensesList_year{
                                                border: none;
                                                .horizontal-line {
                                                    width: 100%; 
                                                    background-color: #808080; 
                                                    opacity: 30%;
                                                    height: 2px; 
                                                    border: none;
                                                    margin-top: 8px; 
                                                    margin-bottom: 8px;
                                                    margin-left: 55px;
                                                }
                                            }
                                            .employeeExpensesList_user_name{
                                                &:nth-child(odd){
                                                    background-color: #f9f9f9;
                                                }
                                                &:nth-child(even){
                                                    background-color: #e0e0e0;
                                                }
                                                .employeeExpensesList_user_name_value{
                                                    // width: 7%;
                                                }
                                                .employeeExpensesList_year_value{
                                                    // width: 7%;
                                                    text-align: center;
                                                }
                                            }
                                            // .employeeExpensesList_project_div:hover{
                                            //     overflow: visible;
                                            //     background-color: #555;
                                            //     color: #c6d4e7;
                                            // }
                                            .employeeExpensesList_project_div{
                                                width: 100px;
                                                // background-color: #66d1ff;
                                                // word-wrap: break-word;
                                                // max-width: 190px;
                                                // width: 100%;
                                                .project-even {
                                                    border-radius: 5px;
                                                    // min-width: fit-content;
                                                    background-color: #f0f0f0; 
                                                    position: relative;
                                                }
                                                .project-odd {
                                                    border-radius: 5px;
                                                    position: relative;
                                                    // min-width: fit-content;
                                                    background-color: #ffffff; 
                                                }
                                                .employeeExpensesList_Delete-icon{
                                                    position: absolute;
                                                    // bottom: 0px;
                                                    right: 2%;
                                                    bottom: 0;
                                                    z-index: 1;
                                                }
                                                .employeeExpensesList_txt0-container{
                                                    // background-color: palegreen;
                                                    padding: 2px 2px 2px 2px;
                                                    box-sizing: content-box;
                                                    
                                                    .employeeExpensesList_txt0{
                                                        border-radius: 5px;
                                                        overflow-x: hidden;
                                                        // margin-bottom: 5px;
                                                        padding: 2px;
                                                        font-weight: bold;
                                                        font-size: 14px;     
                                                        // width: 100%;  
                                                        height: 50px; 
                                                        text-align: center;
                                                        box-sizing: border-box;
                                                        // background-color: palegoldenrod;
                                                        // padding: 5px 3px 0px 3px;
                                                    }
                                                    .employeeExpensesList_txt0:hover{
                                                        border-radius: 5px;
                                                        overflow-x: auto;
                                                        background-color: #c6d4e7;
                                                    }
                                                }
                                                .employeeExpensesList_txt1_txt2_flex{
                                                    margin-top: 10px;
                                                    margin-bottom: 10px;
                                                    padding: 5px;
                                                    display: flex;
                                                    flex-direction: column;
                                                    align-items: center;
                                                    .employeeExpensesList_txt1{
                                                        font-size: 14px;
                                                        // width: 50%;
                                                        @media only screen and (max-width: 1875px){
                                                            font-size: 14px;
                                                        }
                                                        .employeeExpensesList_txt1_label1{
                                                            background-color: #c6d4e7;
                                                            text-align: center;
                                                            border: 1px solid #c6d4e7;
                                                            border-radius: 5px;
                                                        }
                                                        .employeeExpensesList_txt1_label2{
                                                            text-align: center;
                                                        }
                                                    }
                                                    .employeeExpensesList_txt2{                                               
                                                        font-size: 14px;
                                                        padding: 5px 0px;
                                                        // width: 50%;
                                                        display: flex;
                                                        flex-direction: column;
                                                        justify-content: center;
                                                        align-items: center;
                                                        .employeeExpensesList_txt2_label1{
                                                            background-color: #c6d4e7;
                                                            width: 100%;
                                                            text-align: center;
                                                            border: 1px solid #c6d4e7;
                                                            border-radius: 5px;
                                                        }
                                                        .employeeExpensesList_txt2_label2{
                                                            padding-left: 8px;
                                                        }
                                                    }
                                                }
                                                .employeeExpenseModal{
                                                    position: relative;
                                                    display: inline-block;
                                                    cursor: pointer;
                                                }
                                                .employeeExpenseModal .employeeExpenseModal-tooltip {
                                                    visibility: hidden;
                                                    width: 150px;
                                                    background-color: #cfcfcf;
                                                    color: #000;
                                                    text-align: left;
                                                    border-radius: 5px;
                                                    padding: 5px;
                                                    position: absolute;
                                                    z-index: 1;
                                                    left: 176%;
                                                    transform: translateX(-50%);
                                                    white-space: pre-line;
                                                    font-size: 14px;
                                                }
                                                .employeeExpenseModal:hover .employeeExpenseModal-tooltip {
                                                    visibility: visible;
                                                }
                                                .employeeExpenseHeader {
                                                    background-color: white;
                                                    border-radius: 2px;
                                                    display: block;
                                                    width: 100%;
                                                    text-align: center;
                                                }
                                                .employeeExpenseSpan {
                                                    display: block;
                                                    width: 100%;
                                                    text-align: center;
                                                    border-radius: 5px;
                                                    padding: 5px;
                                                    font-weight: bold;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .employeeExpensesList_pagination_wrapper{
                                .employeeExpensesList_pagination_cont{
                                }
                            }
                        }
                    }
                }
                .employeeExpensesList_table_wrapper.editMode{
                     overflow-x: hidden;
                }
            }
        }