.planning_wrapper{
.main-header-buttons{
}
  .planning_content_wrapper{
    display: flex;
    background-color: #EFEDEA;

    @media only screen and (max-width: 1000px){
      flex-direction: column;
    }
    .planning_table_wrapper{
      width: 100%;
      height: 88vh;
      padding: 20px 20px 20px 20px;
      
      .planning_top_cont{
        border: 1px solid #fff;
        border-radius: 5px;
        background-color: #fff;
        height: 100%;
        
        .planning_content{
          .planning_btm{
            .planning_header_text{
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
              .planning_left-content{
                font-weight: bold;
                margin-top: 13px;
                margin-left: 10px;
              }
              .planning_right-content{
                padding: 10px 10px 5px 0px;
                
                .planning_paginate{
                  gap: 10px;
                  display: flex;
                  justify-content: center;
                  background-color: #EFEDEA;
                  padding: 3px 10px;
                  border-radius: 5px;
                  align-items: center;
                  
                  .planning_pl-label{
                    display: inline-block;
                  }
                  p.planning_pl-label_disabled {
                      color: #c6c6c6;   
                  }
                  button.planning_mode_switch {
                    border: 1px solid;
                    padding: 3px 21px;
                    border-radius: 5px;
                    font-weight: 500;
                    background-color: #f3f3f3;
                  }
                  p.planning_mode_switch_disabled {
                      color: #c6c6c6;
                  }
                  .planning_switch{
                    position: relative;
                    display: inline-block;
                    width: 40px;
                    height: 20px;
                    margin-left: 2px;
                    input{
                      opacity: 0;
                      width: 0;
                      height: 0;
    
                      &:checked + .planning_slider {
                        background-color: #2196F3;
                      }
    
                      &:focus + .planning_slider {
                        box-shadow: 0 0 1px #2196F3;
                      }
    
                      &:checked + .planning_slider:before {
                        transform: translateX(20px);
                      }
                    }
                    .planning_slider{
                      position: absolute;
                      cursor: pointer;
                      height: 21px;
                      top: 0;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      background-color: #ccc;
                      border-radius: 10px;
                      transition: background-color 0.4s;
                      &:before {
                        position: absolute;
                        content: "";
                        height: 16px;
                        width: 16px;
                        left: 2px;
                        bottom: 2px;
                        background-color: #fff;
                        border-radius: 50%;
                        transition: transform 0.4s;
                      }
                    }
                  }
                  .results_burger{
                        width: 41px;
                        height: 20px;
                        margin-left: 2px;
                        display: flex;
                        justify-content: end;
                        font-weight: 900;
                        color: gray;
                        cursor: pointer;
                  }
                  .results-csv-modal {
                        position: absolute;
                        display: flex;
                        transform: translate(135px, 39px);
                        align-items: flex-start;
                        background: white;
                        z-index: 1000;
                          p.results-csv-p {
                            font-size: 12px;
                            text-align: left;
                            cursor: pointer;
                        }
                  }

                  .results-csv-modal-content {
                    background: white;
                    padding: 15px;
                    border-radius: 8px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                  }
                }
              }
            }
            .planning_tbl_cont{
              height: 100%;
              .table-header-sticky{
                position: sticky;
                background-color: white;
                z-index: 2;
                // Need this to deal with padding on container so content does not reappear above header when scrolling
                top: -1px !important; 
              }
              .editScrollable{
              }
              .table_content_planning{
                .table-planning-container{
                  @media only screen and (min-width: 1920px){
                  }
                  table{
                  }
                }
              }
              .hidden{
                display: none;
              }
              .table_content_props{
                @media only screen and (min-width: 1920px){
                }
                .planning_scrollable{
                }
              }
              .div_submit {
                float: right;
                padding: 0px 8px;
              }
              .button-container{
                display: flex;
                position: absolute;
                bottom: 0px;
                right: 10px;
                justify-content: end;
                align-items: center;
              }
               button.edit_cancel_btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1%;
                padding: 5px 20px 5px 20px;
                border-radius: 7px;
                margin: 20px 6px;
                background: #f4f4f6;
              }
              button.edit_submit_btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1%;
                padding: 5px 20px 5px 20px;
                border-radius: 7px;
                margin: 20px 6px;
                background: #66d1ff;
              }
            }
          }
        }
      }
    }
  }
}