.table-planning-container {
    height: 75vh;
    overflow-y: scroll; 
    
    &::-webkit-scrollbar {
      scrollbar-width: thin; 
      background: transparent;
      }
      &::-webkit-scrollbar-thumb {
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &:hover {
        scrollbar-color: rgba(0, 0, 0, 0.3) transparent; 
        scrollbar-width: thin; 
        &::-webkit-scrollbar {            
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);

        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
    .table-planning {
      // width: 100%;
      padding: 0 0 0 10px;
      table {
        width: 100%;
        @media only screen and (min-width: 1920px){
          height: 119vh;
        }
        .month-data{
          // width: 7%;
        }
        th, td {
          border: 1px solid #ddd;
          padding: 2px;
          text-align: right;
          font-size: 11.7px;
          &.indented-label {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: right;
            font-size: 12.6px;
            font-weight: bold;
          }
          &.no-indent {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: left;
            font-size: 12.6px;
            font-weight: bold;
            background-color: #efedea;
          }
          &.indented-label-english-mode{
            text-align: right;
            width: fit-content;
          }
          &.no-indent-english-mode{
            text-align: left;
            font-size: 12.6px;
            background-color: #efedea;
          }
        }
        .column-headers{
          align-items: center;
        }
        td.value-container{
        // For Planning Edit Screen
          .input_tag {
              height: 100%;
              // width: 100%;
              text-align: right;
              font-size: 11px;
              width: 54px;
              border: solid 1px gray;
              overflow-x: scroll;
              border-radius: 2px;
          }
          .values{
            width: 100%;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: right;
          }
        }
        th {
          white-space: nowrap;
        }
        
        td {
          white-space: nowrap;
        }
  
        .orange-txt {
          background-color: #fce5cd;
        }
  
        .light-txt {
          background-color: #c9daf8;
        }
  
        .sky-txt {
          background-color: #e0ffff
        }
  
        .total-txt {
          background-color: #daeef3;

        }
  
        .highlight {
          background-color: #f9f9f9;
        }
      }
    }
  }