*,
*::before,
*::after {
    box-sizing: border-box; /* Include padding and borders in width/height */
}
.expensesList_wrapper{
    .expensesList_cont_wrapper{
        display: flex;
        background-color: #EFEDEA;
        @media only screen and (max-width: 1000px){
            flex-direction: column;
        }
        .expensesList_wrapper{
            max-width: 100%;
            padding: 10px 30px; 
            overflow-y :hidden;
            box-sizing: border-box;
            width: 100%;
            .expensesList_top_content{
                position: relative;
                display: flex;
                background-color: #fff;
                flex-direction: column;
                width: 100%;
                height: 100%;
                border: 1px solid #fff;
                border-radius: 5px;
                // small screen
                @media only screen and (max-width: 1600px){
                    width: 100%;
                }
                .expensesList_top_body_cont{
                    background-color: #fff;
                    height: 2rem;
                }
                button.expensesList_mode_switch{
                    position: absolute;
                    right: 40px;
                    top: 45px;
                    border: 1px solid;
                    padding: 3px 21px;
                    border-radius: 5px;
                    font-weight: 500;
                    background-color: #f3f3f38b;
                }
                .expensesList_mode_switch_datalist{
                    padding: 1rem;
                }
                .expensesList_mid_body_cont{
                    height: 100%;
                    background-color: #fff;
                    
                    .ListButtons_btn{
                    }
                    .expensesList_table_wrapper{
                        width: 100%; /* Take up 100% of the parent container */
                        height: 60vh; /* Set height relative to the viewport */
                        overflow-y: auto; /* Enable vertical scrolling */
                        overflow-x: hidden; /* Prevent horizontal scrolling */
                        scrollbar-width: thin; /* Style the scrollbar */
                        scrollbar-color: #888 #e0e0e0; /* Custom scrollbar colors */
                        padding-inline: 40px;
                        box-sizing: border-box;
                        @media only screen and (min-width: 1920px){
                            height: 60vh;
                        }
                        &::-webkit-scrollbar {
                            width: 8px;
                        }
                        &::-webkit-scrollbar-track {
                            background: #e0e0e0;
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: #888;
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar-thumb:hover {
                            background-color: #555;
                        }
                        &:not(:hover) {
                            &::-webkit-scrollbar {
                                width: 0;
                            }
                            scrollbar-width: none; 
                        }
                        .expensesList_table_cont.editScrollable {
                            overflow-x: auto;
                            padding: 0px 0px 0px 0px;
                            
                        }
                        .expensesList_table_cont{
                            max-height: 100%;
                            overflow-y: auto;
                            overflow-x: auto;
                            white-space: nowrap;
                            scrollbar-width: thin;
                            table{
                                width: 100%;
                                .expensesList_table_title{
                                    position: sticky;
                                    top: 0;
                                    z-index: 1;
                                    text-align: center;
                                    background-color: #808080;
                                    border: 1px solid #808080;
                                    .expensesList_table_title_content_vertical{
                                        color: #fff;
                                        border: none;
                                        font-size: 14px;
                                    }
                                }
                                .expensesList_table_body{
                                    .year-separator {
                                        background-color: #fff; 
                                        height: 20px;

                                        .horizontal-line-cell {
                                            padding: 0; 
                                            border: none;
                                        }

                                        .horizontal-line {
                                            width: 150%; 
                                            background-color: #808080; 
                                            opacity: 50%;
                                            height: 2px; 
                                            border: none;
                                            margin-top: 8px; 
                                            margin-bottom: 8px;
                                            margin-left: 12px;
                                        }
                                    }
                                    .expensesList_table_body_content_horizontal{
                                        border: none;
                                        &:nth-child(odd){
                                            background-color: #f9f9f9;
                                        }
                                        &:nth-child(even){
                                            background-color: #e0e0e0;
                                        }
                                        .expensesList_table_body_content_vertical{
                                            border: 1px solid  #d0cdcd;
                                            text-align: center;
                                            input{
                                                width: 70px;
                                            }
                                        }
                                    }
                                }
                            }
                            .expensesList_table_wrapper.editMode {
                            }
                        }
                    }
                    .expensesList_table_wrapper.editMode{
                        height: 55vh;
                    }
                }
                .expensesList_edit_submit_btn_cont{
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    bottom: 2%;
                    right:  2.5%;
                    button.expensesList_edit_submit_btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1%;
                        padding: 5px 20px 5px 20px;
                        border-radius: 7px;
                        margin-top: 6px;
                        background: #66d1ff;
                    }
                }
            }
        }
        .expensesList_wrapper.editMode{
            overflow-x: hidden;
        }
    }
}