.expensesRegistration_wrapper{
    display: flex;
    flex-direction: column;
    .RegistrationButtons_title_container{
        padding: 54.5px 70px 50px 70px !important;
          @media only screen and (min-width: 1920px){
            padding: 59.5px 70px 50px 70px !important;
        }
    }
    .expensesRegistration_content_wrapper{
        display: flex;
        background-color: #EFEDEA;
        width: 100%;
        height: 95vh;
        @media only screen and (max-width: 1000px){
            flex-direction: column;
        }
        .expensesRegistration_data_content{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 10px 30px 10px 30px;
            border: 1px solid #fff;
            border-radius: 5px;
            background-color: #fff;
            .expensesRegistration_top_body_cont{
                margin: 2rem 0 0 0;
                background-color: #fff;
            }
            .expensesRegistration_inputs_and_buttons{
                display: flex;
                height: 65vh;
                justify-content: space-between;
                flex-direction: column;
            }
            .expensesRegistration_form_cont{
                display: flex;
                height: 70vh;
                justify-content: space-between;
                flex-direction: column;
            }
            .expensesRegistration_mid_body_cont{
                background-color: #fff;
                max-height: 90%;
                @media only screen and (min-width: 1875px){
                    height: 55vh;
                }
                .expensesRegistration_mid{
                    margin: 20px 50px;          
            
                }
                .expensesRegistration_mid_form_cont{
                    margin: 0px 40px;
                    background-color: #EFEDEA;
                    overflow-y: auto;
                    overflow-x: hidden;
                    scrollbar-width: thin; 
                    scrollbar-color: transparent transparent;
                    border-radius: 5px;
                    &:hover {
                        scrollbar-color: #888 #EFEDEA; 
                    }
                    &::-webkit-scrollbar {
                        width: 8px;
                    }
                    &::-webkit-scrollbar-track {
                        background: transparent; 
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: transparent; 
                        border-radius: 10px;
                    }
                    &:hover::-webkit-scrollbar-thumb {
                        background-color: #888;
                    }
                    &:hover::-webkit-scrollbar-thumb:hover {
                        background-color: #555; 
                    }    
                    .expensesRegistration_form-content.expensesRegistration_form-content-special{
                        padding: 50px 0px 0px 20px;
                    }
                    .expensesRegistration_form-content.expensesRegistration_form-line{
                        border-top: 4px solid rgb(183, 183, 183);
                        opacity: 30%;
                    }
                    .expensesRegistration_form-content{
                        padding: 0px 0px 10px 20px;
                        .expensesRegistration_form-content-div{
                            display: flex;
                            .expensesRegistration_calc{
                                width: calc(100%/3);
                            }
                            .expensesRegistration_left-form-div{
                                .expensesRegistration_year-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_year{
                                        margin-bottom: 5px;
                                    }       
                                    .expensesRegistration_select-option{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                        option{
                                            text-align: left;
                                        }
                                    }
                                }
                                .expensesRegistration_rent_expenses-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_rent_expenses{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                                .expensesRegistration_travel_expenses-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_travel_expenses{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                                .expensesRegistration_transaction_fees-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_transaction_fees{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                                .expensesRegistration_professional_services_fees-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_professional_services_fees{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                            }
                            .expensesRegistration_middle-form-div{
                                .expensesRegistration_month-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_month{
                                        margin-bottom: 5px;
                                    }       
                                    .expensesRegistration_select-option{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                        option{
                                            text-align: left;
                                        }
                                    }
                                }
                                .expensesRegistration_taxes_and_public_charges-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_taxes_and_public_charges{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                                .expensesRegistration_communication_expenses-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_communication_expenses{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                                .expensesRegistration_advertising_expenses-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_advertising_expenses{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                            }
                            .expensesRegistration_right-form-div{
                                .expensesRegistration_consumable_expenses-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_consumable_expenses{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                                .expensesRegistration_depreciation_expenses-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_depreciation_expenses{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                                .expensesRegistration_utilities_expenses-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_utilities_expenses{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                                .expensesRegistration_entertainment_expenses-div{
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 10px;
                                    .expensesRegistration_entertainment_expenses{
                                        margin-bottom: 5px;
                                    }
                                    input{
                                        width: 80%;
                                        height: 40px;
                                        border: 1px solid #000;
                                        border-radius: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                .expensesRegistration_lower_form_cont{
                    .expensesRegistration_form-content{
                        padding: 20px;
                        .expensesRegistration_plus-btn{
                            padding: 20px 10px 20px 10px;
                            gap: 1rem;
                            display: flex;
                            margin-left: 90%;
                            .expensesRegistration_inc,
                            .expensesRegistration_dec{
                                background-color: #808080;
                                color: whitesmoke;
                                width: 30px;
                                height: 40px;
                                font-size: 25px;
                                border-radius: 5px;
                            }
                        }
                        .expensesRegistration_options-btn{
                            display: flex;
                            gap: 1%;
                            padding: 10px 10px 10px 10px;
                            align-items: center;
                            justify-content: center;
                            button{
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }
}